ZX.Tests/bin/
ZX.Util/obj/
ThreeWeeks/obj/
ZX/obj
ZX.Game/obj/
ZX.Drawing/obj/
_site
Project/obj/
Pyjamarama/obj/
PyjamaramaTests/bin/
PyjamaramaTests/obj/
ZX.Platform/obj/
ZX.Tests/obj/
Builder/obj/
output/
